body{
	margin: 0;
	height: 635px;
	color: white;
	overflow: hidden;
}

#fondo{
	background-repeat: no-repeat;
	width: 450%;
	height: 100%;
	margin: 0;
	animation-name: mover;
	animation-duration:120s;
	position:absolute;
}

#fondo img{
	height: 50%;
}

p{
	width: 100%;
	font-size: 7vh;
	text-justify:center;
	text-align: center;
	font-family: 'Share Tech Mono', monospace;
	position: fixed;
	top:40vh;
	opacity: 0;
	-moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
}

h1{
	width:100%;
	font-size: 20vh;
	text-align:center;
	text-justify: center;
	font-family: 'Coiny', cursive;
	position: fixed;
	top:10vh;
}

#alien{
	position: fixed;
	left:44.5%;
	top:60vh;
	height: 10vh;
}

#niveles{
	position: absolute;
	display: flex;
	flex-direction: row;
	width:100%;
	margin-top:40vh;
	justify-content: center;
	align-content: center;
}

#niveles img{
	width: 20vh;
	height: 20vh;
}

#nave{
	width:10vh;
	height: 10vh;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	position:absolute;
	top: 40vh;
	left: 10vh;
}

#space{
	width: 160vh;
	height: 100%;
	padding:0;
	margin-left: 20vh;
	margin-right: 0;
	background-color: green;
}

.meteorito{
	background-image: url("met.png");
	background-size: contain;
	width:10vh;
	height: 10vh;
	border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	position:absolute;
	z-index: 10;
}

#gameover{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	background-color: black;
	color: white;
	height: 30vh;
	margin:5vh;
	font-size: 7vh;
	font-family: 'Share Tech Mono', monospace;
	
}

/* he mirado como hacer animaciones propias en css https://www.w3schools.com/css/css3_animations.asp*/

@keyframes mover {
  0%   {transform: translate(0px);}
  50% {transform: translate(-2200px);}
  100%   {transform: translate(0px);}
}

/* y reutilizado la animación del reloj*/
@keyframes mymove {
    0% {
    opacity: 1.0;
	}
}